<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word Analysis</title>
</head>
<body>
    <h1>Word Analysis</h1>
    
    <h2>Word Cloud</h2>
    <img src="{{ wordcloud_url }}" alt="Word Cloud">

    <h2>Top 20 Most Common Words (Bar Chart)</h2>
    <img src="{{ barchart_url }}" alt="Bar Chart">

    <h2>Word Occurrences</h2>

    {% if word_table %}
    <h1>{{word_table.article}}</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Word</th>
                <th>Occurrence</th>
                <th>Article</th>
            </tr>
        </thead>
        <tbody>
            {% for word in word_table.word %}
                
                    <tr>
                        <td>{{ word }}</td>
                        <!-- <td>{{ count }}</td>
                        <td>{{ article_names|default_if_none:"Article not found"|slice:":1"|join:":" }}</td> -->
                    </tr>
                
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No word data available for the articles.</p>
{% endif %}

</body>
</html>
